{{#templatedata}}
<div id="cookie-consent-card" class="cookie-consent-card">
    <h3 class="text-center">{{#str}}modalheader, local_cookiebanner{{/str}}</h3>

    <div class="cookie-text text-center">
        {{#str}}cookietext_default, local_cookiebanner{{/str}}
    </div>

    <div class="cookie-options">
        <label>
            <input type="checkbox" checked disabled>
            {{#str}}necessarycookies, local_cookiebanner{{/str}}
        </label>
        <label>
            <input type="checkbox" id="cookie-moodle-id">
            {{#str}}moodleid, local_cookiebanner{{/str}}
        </label>
    </div>

    <div class="cookie-buttons">
        <button type="button" class="cookie-btn primary" id="cookie-accept-all">
            {{#str}}accept, local_cookiebanner{{/str}}
        </button>
        <button type="button" class="cookie-btn secondary" id="cookie-save">
            {{#str}}save, local_cookiebanner{{/str}}
        </button>
    </div>
    <div class="cookie-footer">
    {{#imprinturl}}
        <a href="{{imprinturl}}" target="_blank">{{#str}}impressum, local_cookiebanner{{/str}}</a> |
    {{/imprinturl}}
    {{#privacyurl}}
        <a href="{{privacyurl}}" target="_blank">{{#str}}privacy, local_cookiebanner{{/str}}</a>
    {{/privacyurl}}
    </div>
</div>
{{/templatedata}}
