<div id="cookie-consent-card" class="cookie-consent-card">
    <h3 class="text-center">{{#str}}modalheader, local_cookiebanner{{/str}}</h3>

    <div class="cookie-text text-center">
    Wir verwenden Cookies, um Ihnen die optimale Nutzung unserer Webseite
    zu ermöglichen. Es werden für den Betrieb der Seite notwendige Cookies
    gesetzt. Mit Ihrer Zustimmung zum Cookie „MoodleID“ kann auf Wunsch
    der Benutzernamen im Webbrowser gespeichert werden. Beim nächsten
    Login erscheint der Anmeldename bereits automatisch. Erfahren Sie mehr
    dazu in unseren Datenschutzhinweisen
    </div>

    <div class="cookie-options">
        <label>
            <input type="checkbox" checked disabled>
            {{#str}}necessarycookies, local_cookiebanner{{/str}}
        </label>
        <label>
            <input type="checkbox" id="cookie-moodle-id">
            {{#str}}moodleid, local_cookiebanner{{/str}}
        </label>
    </div>

    <div class="cookie-buttons">
        <button type="button" class="cookie-btn primary" id="cookie-accept-all">
            {{#str}}accept, local_cookiebanner{{/str}}
        </button>
        <button type="button" class="cookie-btn secondary" id="cookie-save">
            {{#str}}save, local_cookiebanner{{/str}}
        </button>
    </div>

    <div class="cookie-footer">
    {{#imprintlink}}
        <a href="{{imprintlink}}" target="_blank">{{#str}}impressum, local_cookiebanner{{/str}}</a> |
    {{/imprintlink}}
    {{#datenschutzlink}}
        <a href="{{datenschutzlink}}" target="_blank">{{#str}}privacy, local_cookiebanner{{/str}}</a>
    {{/datenschutzlink}}
    </div>
</div>
